body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
}

#App {
    display: grid;
    grid-template-columns: 1fr [right-start] 2fr [right-end] 1fr [middle-start] 80vh [middle-end] 1fr [left-start] 2fr [left-end] 1fr;
    grid-template-rows: 17vh [canvas-start] 80vh [canvas-end] 3vh
}

header {
    grid-column: middle-start / middle-end;
}

#Canvas {
    margin: 0 0 0 0;
    max-width: 80vh;
    grid-column: middle-start / middle-end;
    grid-row: canvas-start / canvas-end;
    box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);
}